@charset "utf-8";
@media screen and (min-width: 1440px) {
	div.width-mod div.container {max-width:1190px;}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
#cont-edt li {
	font-size: 16px;
}
#cont-edt {
	width: 100%;
}
.col-lg-8.right-side {
	width: 62%;
}
#free-quote .TitleStyle2 {
  font-size: 38px;
}
.right-side p, .right-side p a {
  color: #fff;
  font-size: 19px;
}
.right-side .TitleStyle2 {
   font-size: 20px;
 }
.footer-nav .navbar-nav {
    width: 100%;
}

}


@media screen and (min-width: 768px) and (max-width: 991px) {
#cont-edt {
	width: 100%;
}
.col-lg-8.right-side {
	width: 50%;
}
.col-md-4.right-side .col-sm-12 {
	padding-right: 20px;
}
.navbar-custom .navbar-nav .nav-link {
	font-size: 12px;
	line-height: 20px;
	}
.right-side {
  padding: 40px 0 40px 20px;
}
.right-side .TitleStyle2{
	  font-size: 20px;
}
.right-side p, .right-side p a {
   font-size: 15px;
}
.quote-content{
	width:90%;
}
#free-quote .TitleStyle2 {
  font-size: 38px;
}
#free-quote p {
   font-size: 26px;
}
.footer-nav .navbar-nav {
  width: 100%;
}  
#cont-ed a:last-child {
  font-size: 17px;
}

.top_bar_phone .phone-automate {
  font-size: 20px;
}

.right-side p.phone-automate, .right-side p.phone-automate a {
  font-size: 20px;
  line-height: 35px;
}

}
  


@media screen and (max-width: 767px) {
.right-side .TitleStyle2, .right-side .TitleStyle3, .right-side .TitleStyle4, .right-side h2, .right-side h3, .right-side h4 {
    color: #2c2c2c;
}
.right-side p a:hover, .right-side p a:focus {
	color: #333;
	text-decoration: underline #36E09E 2px;
	text-underline-position: under;
}
.gradient:before {
	background: #601cad;
}
.right-side {
	position: relative;
	box-shadow: none;
}
.col-md-4.right-side .col-sm-12, .col-lg-8.right-side  {
	max-width: 100%;
	width: 100%;
}
.col-lg-8.right-side .col-sm-12 {
 	padding: 0px 20px;
}
.left-content  {
	min-height: initial;
}
div.top-content ul li {
	font-size: 10px;
	line-height: 12px;
	padding-left: 17px;
	padding-right: 17px;
}
.top_bar_phone .phone-automate {
  font-size: 14px;
  }
footer .top-content {
  display: inherit;
  
}
.nav-section, .logo-section, .navbar-custom,.nav-row .row {
  display: inherit;

}
.agency-logo {
  max-width: 270px;
  width: 95%;
}
.navbar {
  top: 30px;
  right: 0px;
  width: 100%;
  min-height: 0px;
margin: 0px;
z-index: 1;
}

.navbar-toggler, .navbar-toggler:hover {
  background: linear-gradient(360deg, #44147A 0%, #6E21C6 100%);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 30px;
  overflow: hidden;
  width: 32px;
  float: right;
  z-index: 100;
  padding: 0;
  position: absolute;
top: -60px;
right: 15px;
}

.navbar-toggler-icon {
	display: inline-block;
	width: 100%;
	height: 23px;
	vertical-align: middle;
	content: "";
	background: 50%/100% 100% no-repeat;
}

.navbar-custom {
  background: #E5E5E5;
  border-radius: 0;
  filter: none;
}
.navbar-nav {
  display: inherit;
padding: 0;
  text-align: center;
  padding: 20px 0;
}
.navbar-custom .navbar-nav .nav-link {
  text-align: center;
  display: inline-block;
  margin: 10px 0;
}
.quote-content {
  width: 100%;
  padding: 40px 0px 50px;
}
#free-quote .TitleStyle2 {
	font-size: 18px;
	line-height: 41px;
	margin-bottom: 0;
}
#free-quote p {
	
	font-size: 12px;
	line-height: 20px;
}

.right-content::after {
position: static;

}
.right-side {
	background: transparent;
	color: #333;
	padding: 0;
}
.right-side p, .right-side p a,
.right-side p.phone-automate, .right-side p.phone-automate a {
  color: #333;
  line-height: 35px;
}
.right-side p.phone-automate, .right-side p.phone-automate a {
  font-size: 18px;

}
#agency-address li::before {
	
	vertical-align: top;
}
.footer-section .navbar, .footer-nav {
  width: 100%;
  position: static;
  padding: 0;
}
.footer-nav .navbar-nav .nav-link {

  display: inline-block;
}
.footer-nav .navbar-nav > li:first-child{
	padding-top:0;
}
.footer-nav .navbar-nav > li:last-child{
	padding-bottom:0;
}
.footer-nav .navbar-nav {
  width: 100%;
}
.footer-nav .navbar-nav > li {
  padding: 15px 0;
}
#agency-address {
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:center;
}
.right-content {
	background: transparent;

}


.gradient {
	position: static;
    transform: inherit;
	}
.gradient .TitleStyle2 {
	font-size: 18px;
	line-height: 20px;
	margin: 0 15px;
}
.gradient .TitleStyle2 {
align-items:center;
text-align:center;
}
.gradient .TitleStyle2 span.num {
	font-size: 14px;
	line-height: 24px;
}
.gradient .TitleStyle2 span {
	font-size: 10px;
	line-height: 15px;
}
.gradient:after,
.gradient:before{
	height: 50px;
}
.gradient::before {

  flex: 1;
}
.gradient {
  padding-top: 30px;
  padding-bottom: 10px;
}

.quote-content .quote-sec-wrap {

	width: 80%;
}
.submit-btn,
.submit-btn:hover, .submit-btn:focus {

  width: 100%;
}
.TitleStyle1 {
	font-size: 24px;
	line-height: 36px;
	
}
.TitleStyle2 {
  font-size: 18px;
  color: #1A1A1A;
}
.gmap {
	margin-top: 15px;
	height: 180px;
	margin-bottom: 15px;
}
.custom-free-quote {
	height: 112px;
	
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.main-content.sidebar-pages {
	padding: 30px 0 15px 0;
	position: relative;
}
.container, .container-sm {
  max-width: 100%;
}
#cont-edt {
  width: 100%;
}
#cont-edt li {
	font-size: 16px;
}

.top_bar_phone .fa {
  margin-right: 8px;
  font-size: 17px;
}
#agency-address li.cont-address {
  align-items: flex-start;
}

}

@media screen and (min-width: 320px) and (max-width: 359px) {
div.top-content ul li {
	font-size: 10px;
	line-height: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

}


@media screen and (max-width: 550px) {

div.top-content ul li {
  padding-left: 4px;
  padding-right: 4px;
}	

.top_bar_phone .fa {
  margin-right: 4px;
  font-size: 16px;
}
	
}

@media screen and (max-width: 1199px) {
	
a.sms-txt{
	cursor: pointer;
	pointer-events: auto;
	text-decoration: none;
}

}